{% extends 'layout/layout.html.twig' %}
{% block title %} Login {% endblock %}

{% block mensajes %}
    {% if error %}
   
     <div class="alert alert-danger d-flex align-items-center mt-3 alert-dismissible fade show" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            {{ error.messagekey|trans(error.messageData, 'security') }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endif %}
{% endblock %}

{% block container %}
    <form class="col-md-4 g-3 needs-validation" action="{{ path('login') }}" method="POST" novalidate>
  <div class="col-md-12">
    <label for="validationCustomEmail" class="form-label">Email</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-at"></i></span>
      <input type="email" class="form-control" id="validationCustomEmail" aria-describedby="inputGroupPrepend" name="_username" value="{{ last_username }}" required>
      <div class="invalid-feedback">
        Ingrese un email valido.
      </div>
    </div>
  </div>

  <div class="col-md-12 mt-4">
    <label for="validationCustomPassword" class="form-label">Contrasena</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-lock"></i></span>
      <input type="password" class="form-control" id="validationCustomPassword" aria-describedby="inputGroupPrepend" name="_password" required>
      <div class="invalid-feedback">
        Ingrese una contrasena valida.
      </div>
    </div>
  </div>
  <div class="col-4 mt-4">
    <input class="btn btn-primary" type="submit" value="LogIn"/>
  </div>
</form>
{% endblock %}