<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <header>
            {% block cabecera %}
            {#{ titulo, logo o menu }#}
            {% endblock %}
        </header>

         <section>
            {% block container %}
            {#{ titulo, logo o menu }#}
            {% endblock %}
        </section>

         <footer>
            {% block footer %}
            {#{ titulo, logo o menu }#}
            {% endblock %}
        </footer>

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </body>
</html>
